body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
p{
    color: #444;
    font-size: 14px;
    color: #555;

}
h1{
    font-size: 28px;
    margin-bottom: -4px;
}

#signup-form {
width: 30%;
margin: 80px auto;
padding: 24px;
border-radius: 16px;
background: #fff;
}

.form-group {
    display: inline-block;
    margin-bottom: 20px;
    width: 90%;
}

label {
    display: inline-block;
    width: 100%;
    color: #444;
    margin-bottom: 5px;

}
input{
    display: inline-block;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 8px 20px;
    overflow-x: hidden;
    /* margin: 0 20px; */
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: inline-block;
    width: 100%;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
